<% if @stock %>
  <div class="card mt-3 mx-0" style="width: 18rem;">
    <div class="card-header">
      <strong>Symbol: </strong> <%= @stock.ticker  %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <strong>Name: </strong> <%= @stock.name  %> </li>
      <li class="list-group-item"> <strong>Price: </strong> <%= @stock.last_price  %> </li>
    </ul>
  </div>
<% end %>
